:root {
    --primary: #FFF200;
    --bg: #08B1F0;
    --text_color: #0C356A;
  }
  body {
    padding: 0;
    margin: 0;
}
  #map{
    height: 700px;
  }
  p.detail_pelanggan{
    border-bottom: 1px solid black;
    color: #353535;
    padding-bottom: 10px;
  }